@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

/* @font-face {
  font-family: 'Santor';
  font-style: normal;
  font-weight: normal;
  src: local('Santor'), url('./fonts/santor.woff') format('woff'),
    url('./fonts/santor.ttf') format('truetype');
} */

body {
  margin: 0;
  font-family: 'Outfit', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* .font-roboto {
  font-family: 'Roboto Slab', serif;
} */
